html {
	margin: 0;
	padding: 0;
}
body {
	background: #FBFAF4;
	font: 14px Helvetica, Arial, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
}

header {
	background: #F02556;
	border-bottom: 1px solid #000;
}

header ul {
	list-style-type: none;
}

footer {
	background: #000;
	margin: 0px;
	padding: 1px 0px;
	color: #999;
}

footer #container {
	padding: 0px 20px 0px 20px;
	margin: 0px;
}

h1 {
	padding: 0;
	margin: 0;
}

h2 {
	font: 30px Georgia, Times, serif;
}

a:link, a:visited {
	text-decoration: none;
	color: #f1557a;
}
h2 a:hover, h2 a:active { }

pre code {
	background: #FFF;
	display: block;
	border: 1px solid #CCC;
	border-radius: 4px;
	padding: 10px;
}

#menu {
	float: right;
	background: #EEE;
	border: 1px solid #CCC;
	margin: 10px;
	padding-top: 0px;
}

#menu h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 5px;
}

#menu ul {
	list-style: none;
	margin-top: 0px;
	margin-bottom: 5px;
	padding-right: 25px;
	text-indent: -2em;
}

#menu ul li:before {
	content: "\00BB \0020";
}

#container {
	width: 1024px;
	padding: 0px 20px 20px 20px;
}

#main {
	width: 100%;
}

#categories {
	float: left;
	list-style: none;
	text-indent: -3em;
}

span {
	font-weight: bold;
}

#date {
	clear: left;
}

#portrait {
	border: 1px solid #000;
	border-radius: 4px;
	background: url("../images/terence_reasonably_small.jpg");
	width: 128px;
	height: 128px;
	float: left;
}

.flow {
	padding-left: 135px;
}
