---
layout: default
title: hone.heroku.com
---
{% assign first_post = site.posts.first %}
<h2><a href="{{ first_post.url }}">{{ first_post.title }}</a></h2>
<div>
  <p><span>categories</span>: 
    {% for category in first_post.categories %}
    <a href="/{{ category }}.html">{{ category }}</a></li>
    {% endfor %}
     
  </p>
	<p id="date">{{ first_post.date | date_to_string }}</p>
</div>

{{ first_post.content }}

<a id="more" href="{{ first_post.url }}#disqus_thread">Comments &raquo;</a>

<hr />

<h2>archive</h2>
<ul id="archive">
	{% for post in site.posts %}
	<li><a href="{{ post.url }}">{{ post.title }}</a> - <abbr>{{ post.date | date_to_string }}</abbr></li>
	{% endfor %}
</ul>
