<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>hone.heroku.com | {{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" media="screen" />
		<meta name="author" content="Terence Lee" />
	</head>
	<body>
		<header>
			<h1>hone.heroku.com</h1>
		</header>
		<div id="main">
			<section id="container">
				<article>
				{{ content }}
				</article>
				<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/wornpath/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
		</script>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-12387207-1");
				pageTracker._trackPageview();
				} catch(err) {}
				</script>
			</section>
		</div>
		<footer>
			<div id="container">
				<p>Hello. My name is Terence. <a href="http://twitter.com/hone02">@hone02</a> on twitter. I work for <a href="http://heroku.com">heroku's ruby team</a>. I work on <a href="http://gembundler.com">bundler</a>, <a href="http://github.com/defunkt/resque">resque</a>, and <a href="http://railsgirls.com">railsgirls</a>. I'm also a <a href="http://jhu.edu">hopkins alumni</a>.</p>
			</div>
		</footer>
	</body>
</html>
